html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

button{
  height: 20px;
  margin: 0 0 0 40px;
}

.head{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

#gameBoard{
  background-color:darkgrey;
  border-radius: 10px;
  width:420px;
  padding: 10px 0;
}

.row{
  display:flex;
  justify-content:center;
}
.default{
  background-color: lightgrey;
  height:80px;
  width:80px;
  border-radius: 10px;
  margin: 10px 10px;
}