html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

button{
  position:relative;
  left: 184px;
  bottom: 28px;
  font-family: 'Work Sans', sans-serif;
}


h1{
  text-align:center;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}

h2{
  width: 480px;
  text-align:justify;
  font-family: 'Work Sans', sans-serif;
  -moz-text-align-last: center; /* Code for Firefox */
  text-align-last: center;
}

.foo{
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
  font-size: 100px;
}

.gameBoard{
  background-color:darkgrey;
  border-radius: 10px;
  width:420px;
  padding: 10px 0;
}

.row{
  display:flex;
  justify-content:center;
}

.square{
  height:80px;
  width:80px;
  border-radius: 10px;
  margin: 10px 10px;
  text-align:center;
  color:white;
  line-height: 80px;
  font-size: 40px;
}

.default{
  background-color: lightgrey;
}

.two{
  background-color: #99CCCC;
}

.four{
  background-color: #CCCCE5;
}

.eight{
  background-color: #004C66;
}

.sixteen{
  background-color: #CC9999;
}

.thirty-two{
  background-color: #CCE5CC;
}

.sixty-four{
  background-color: #CCE5E5;
}

.one-twenty-eight{
  background-color: #664C4C;
}

.two-fifty-six{
  background-color: #4C4C66;
}

.five-twelve{
  background-color: #E54C4C;
}

.ten-twenty-four{
  background-color: #4C667F;
}

.twenty-fourty-eight{
  background-color: #66CCE5;
}

